.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 20px;
}


.card {
    width: 275px;
    height: 550px;
    margin-block: 10px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 0px;
    text-align: center;
}

.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.card button {
    border-radius: 5px 5px 5px 0px;
}

.button-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.button-card button {
    width: 75px;
    height: 35px;
}

.form-add {
    border: none;
    background: white;
    margin-left: 20px;
    font-size: 20px;
}

.form-add a {
    text-decoration: none;
    color: black;
}

.backoffice {
    border: none;
    background: white;
    margin-left: 20px;
    font-size: 20px;
}

.backoffice a {
    text-decoration: none;
    color: black;
}