@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.container-fluid {
  box-shadow: 5px 5px  25px -5px #000000;
  background: rgb(58, 58, 58);
}


.container-fluid h2 {
  font-family: "Caveat";
  font-weight: bold;
  font-size: 45px;
  text-shadow: 4px 4px 4px rgb(162, 160, 160);
  color: rgb(2, 200, 55);
  padding-right: 50px;
}
.nav-item button {
  border: none;
  background: rgb(2, 200, 55);
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
}

.nav-item button a {
  text-decoration: none;
  color: black;
}

.container-card {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img-dettagli {
  width: 300px;
}

.info {
  width: 400px;
  text-align: start;
}
