.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    width: 250px;
    height: 350px;
    margin-block: 10px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 0px;
    text-align: center;
}

.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.card button {
    border-radius: 5px 5px 5px 0px;
}